################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMakeProjekt3/.vs/CMakeProjekt3/FileContentIndex
/CMakeProjekt3/.vs/CMakeProjekt3/v17/Browse.VC.opendb
